django-salmonella==1.2
Django==2.0.8
psycopg2-binary==2.7.5  # Use Wheel, don't compile
pytz==2018.5
django-grappelli==2.11.1
zappa==0.46.2
zappa-django-utils==0.4.0
django-storages==1.7.1
flake8==3.5.0
