{% extends 'base.html' %}

{% block title %}
Sight Words site
{% endblock %}

{% block jumbo1 %}
Welcome!
{% endblock %}

{% block jumbo2 %}
This is a website dedicated to helping kids learn and practice their sight words!
{% endblock %}

{% block body1 %}

<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Grade List</h2>
            <p>Use this list to find the words your child needs to learn</p>
            <p><a class="btn btn-secondary" href="{% url 'grades' %}" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sight Word Methodology</h2>
            <p>List of references for practicing sight words with your child.</p>
            <p><a class="btn btn-secondary" href="https://sightwords.com/sight-words/lessons/" target=blank role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Feedback</h2>
            <p>All feedback is welcome. Please submit yours here.</p>
            <p><a class="btn btn-secondary" href="{% url 'feedback' %}" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

<!--{% for grade in grades %}-->
<!--<a href="{% url 'words' grade.id %}" button class="button">{{ grade.name }}</button>-->
<!--{% endfor %}-->

{% endblock %}