{% extends 'base.html' %}

{% block title %}
{{ grade.full_name }}-List of Words
{% endblock %}

{% block style %}

.wordlist {
    text-align: center;
    padding: 5px;
    margin : 5px;
}

{% endblock %}

{% block jumbo1 %}
{{ grade.full_name }}
{% endblock %}

{% block jumbo2 %}
Below is a list of words suited for children in {{ grade.full_name }}.
{% endblock %}

{% block body1 %}

{% for word in words %}
<div class="wordlist">
    <!--<table>-->
        <!--<thead>-->
            <!--<th>Word</th>-->
        <!--</thead>-->
            <!--{% for word in words %}-->
            <!--<tr>-->
                <!--<td>{{ word.word }}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
    <!--</table>-->
    <h1>{{ word.word }}</h1>

</div>
{% endfor %}

{% endblock %}

</body>
